/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/

:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-white);
}

.container {
    width: 1352px;
    margin: 0 auto;
}

header {
    height: 70px;
    width: 100%;
    box-shadow: 0 3px 6px #00000029;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    line-height: 37px;
    font-weight: 300;
    color: var(--color-primary);
    padding: 16px 0;
}

header ul {
    list-style: none;
    display: flex;
}

header li a {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    height: 70px;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 15px;
    font-weight: 700;
    letter-spacing: 3.28px;
    text-align: center;
    color: var(--color-grey);
    padding: 28px 12px 27px 12px;
    margin-left: calc(95px - 2 * 12px);
}

header li a:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
}

.open-section {
    width: 100%;
}

.open-section--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 130px;
}

.open-section__head {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 49px;
    line-height: 57px;
    color: var(--color-black);
}

.open-section__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-black);
    margin: 20px 0 38px 0;
}

.open-section__btn {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 22px 157px;
    border-radius: 40px;
    box-shadow: 5px 10px 14px #07ACE629;
}

.open-section__image {
    width: 100%;
    height: auto;
}

.statistic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: var(--color-black);
}

.statistic__head {
    font-size: 36px;
    line-height: 42px;
}

.statistic__wrapper {
    width: 850px;
    display: flex;
    justify-content: space-between;
    margin: 100px 0 120px 0;
}

.statistic__wrapper--box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statistic__image-box {
    position: relative;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.statistic__image--red {
    background-color: var(--color-redish);
}

.statistic__image--blue {
    background-color: var(--color-primary);
}

.statistic__image--green {
    background-color: var(--color-green);
}

.statistic__image {
    height: auto;
    width: auto;
    background: transparent;
    border-radius: 0;
    position: absolute;
}

.statistic__image--person {
    left: 30px;
}

.statistic__image--eye {
    left: 20px;
}

.statistic__image--catalog {
    left: 30px;
}

.statistic__number {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 5.96px;
    margin: 14px 0 19px 0;
    text-align: center;
}

.statistic__text {
    font-size: 17px;
    line-height: 20px;
    color: var(--color-grey);
    text-align: center;
    width: 150px;
}

.benefits-section {
    width: 100%;
    background-color: var(--color-light-grey);
}

.benefits-container {
    display: flex;
    justify-content: center;
}

.benefits-content {
    width: 1124px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 105px 0;
    color: var(--color-black);
    font-weight: 400;
}

.benefits-content__box {
    width: 100%;
    height: 370px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.benefits-content__electronic {
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    margin-bottom: 37px;
}

.benefits-content__text {
    width: 420px;
}

.benefits-content__text-left {
    margin-left: 35px;
}

.benefits-content__text-right {
    margin-right: 20px;
}

.benefits-content__text--box {
    width: 560px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.benefits-content__text--trumpet {
    width: 623px;
    height: 100%;
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.benefits-header {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 30px;
    width: 350px;
}

.benefits-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
}

.benefits-text::after {
    content: "";
    display: block;
    height: 4px;
    width: 328px;
    margin-top: 50px;
}

.benefits-text--red::after {
    background-color: #FB3B64;
}

.benefits-text--blue::after {
    background-color: var(--color-primary);
}

.benefits-text--green::after {
    background-color: var(--color-green);
}

.benefits-image-box {
    height: 100%;
    width: 50%;
    position: relative;
}

.benefits-image-box--square::after {
    content: "";
    display: block;
    width: 180px;
    height: 180px;
    background-color: var(--color-redish);
    border-radius: 41px;
    transform: rotate(45deg);
    position: absolute;
    top: 70px;
    right: 100px;
}

.benefits-image-box--circle::after {
    content: "";
    display: block;
    width: 320px;
    height: 320px;
    background-color: var(--color-primary);
    border-radius: 50%;
    position: absolute;
    top: 12px;
    left: 70px;
}

.benefits-image-box--trumpet {
    width: 440px;
    height: 100%;
    background-color: var(--color-green);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    position: relative;
}

.benefits-macbook {
    width: 386px;
    height: 219px;
    position: absolute;
    top: 113px;
    right: 118px;
    z-index: 1;
}

.benefits-iphone {
    width: 426px;
    height: 328px;
    position: absolute;
    top: 29px;
    left: 70px;
    z-index: 1;
}

.benefits-trumpet {
    width: 296px;
    height: 208px;
    position: absolute;
    top: 98px;
    left: 62px;
}