* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-white;
}

.container {
  width: 1352px;
  margin: 0 auto;
  @include mediaTemp(1352px) {
    width: 100%;
    padding: 0 15px;
  }
}

.checkbox-input {
  input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;

    &:checked + span {
      background-image: url("../assets/Checkmark.svg");
      background-repeat: no-repeat;
      background-position: center;
      border: 1px solid $color-primary;
    }
  }

  span {
    width: 24px;
    height: 24px;
    display: block;
    flex-shrink: 0;
    border: 1px solid $color-border-grey;
    border-radius: 4px;
    margin-right: 10px;
  }
}