.statistic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: $color-black;
  @include mediaTemp(750px) {
    padding-top: 50px;
  }

  .statistic__head {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    @include mediaTemp(750px) {
      font-size: 30px;
      line-height: 35px;
      width: 70%;
    }
  }

  .statistic__wrapper {
    width: 63%;
    display: flex;
    justify-content: space-between;
    margin: 100px 0 120px 0;
    @include mediaTemp(750px) {
      flex-direction: column;
      align-items: center;
      margin: 25px 0;
    }

    .statistic__wrapper--box {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 150px;
      .statistic__image-box {
        position: relative;
        width: 63px;
        height: 63px;
        border-radius: 50%;
        display: flex;
        align-items: center;

        .statistic__image {
          height: auto;
          width: auto;
          background: transparent;
          border-radius: 0;
          position: absolute;
        }

        .statistic__image--person {
          left: 30px;
        }

        .statistic__image--eye {
          left: 20px;
        }

        .statistic__image--catalog {
          left: 30px;
        }
      }

      .statistic__image--red {
        background-color: $color-redish;
      }

      .statistic__image--blue {
        background-color: $color-primary;
      }

      .statistic__image--green {
        background-color: $color-green;
      }

      .statistic__number {
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 5.96px;
        margin: 14px 0 19px 0;
        text-align: center;
      }

      .statistic__text {
        font-size: 17px;
        line-height: 20px;
        color: $color-grey;
        text-align: center;
        @include mediaTemp(750px) {
          margin-bottom: 25px;
          width: 90%;
        }
      }
    }
  }
}